body {
  font-size: 14px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }
h1 { margin-top: 0.5em; }
h2 { margin-top: 0.75em; }
h3 { margin-top: 1em; }
h4 { margin-top: 1.25em; }
h5 { margin-top: 1.5em; }

p {
  margin: 1em 0; 
}

a {
  text-decoration: none;
  -webkit-transition: all .2s linear;
}

.post h1 {
  font-size: 36px;
}

pre, code, tt {
  font: Monaco, 'andale mono', 'lucida console', monospace;
}

pre {
  line-height: 1.2;
  margin: 0;
}

code, tt {
  color: #222;
  padding: 1px 3px;
  border-radius: 3px;
  background-color: #EEE;
}

.highlight {
  margin: 1em 0;
  padding: 10px;
  border-radius: 5px;
  background: none repeat scroll 0 0 #222222;
  overflow: auto;
}

.highlight pre code, pre code {
  background-color: inherit;
  padding: 0;
  border-radius: 0;
}
