body {
  font-size: 14px;
  line-height: 1.4;
  text-shadow: rgba(0, 0, 0, 0.15) 0 1px 1px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.2em; }

h1 {
  margin-top: 0.8em; }

h2 {
  margin-top: 0.75em; }

h3 {
  margin-top: 0.7em; }

h4, h5 {
  margin-top: 0.6em; }

p {
  margin: 1em 0; }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

ul, ol {
  margin-top: 1.5em; }

#header .left-side {
  margin: 10px 0 20px 0; }
  #header .left-side .title {
    margin-bottom: 0;
    text-shadow: #bbbbbb -1px -1px 0, #aaaaaa -2px -2px 0, #999999 -3px -3px 0, #888888 -4px -4px 0;
    font-size: 3.5em;
    font-weight: bold; }
    #header .left-side .title a {
      color: #000; }
      #header .left-side .title a:hover {
        color: #333; }
  #header .left-side .tagline {
    margin-top: -8px;
    text-shadow: rgba(0, 0, 0, 0.25) 0 1px 5px; }
#header #menu {
  text-align: right; }
  #header #menu ul {
    list-style-type: none;
    margin: 2px 0 0 0; }
    #header #menu ul li {
      display: inline;
      padding: 10px 0 5px 0;
      margin: 0 5px;
      background-color: #99d3f2;
      font-weight: bold;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear; }
      #header #menu ul li:hover {
        background-color: #55b6e9; }
      #header #menu ul li.last {
        margin-right: 0; }
      #header #menu ul li a {
        padding: 10px 12px 5px 12px;
        color: #000; }
        #header #menu ul li a:hover {
          color: #000; }

#footer {
  margin: 20px 0 10px 0;
  padding: 10px;
  background-color: #99d3f2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.sidebar-module {
  margin: 20px 0; }
  .sidebar-module .title {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #99d3f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: right;
    font-size: 24px;
    font-weight: bold; }

pre, code, tt {
  font: Monaco, 'andale mono', 'lucida console', monospace;
  text-shadow: none;
  -webkit-font-smoothing: initial; }

pre {
  line-height: 1.2;
  margin: 0; }
  pre code {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }

code, tt {
  color: #222;
  padding: 1px 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #EEE; }

.highlight {
  margin: 1em 0;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: none repeat scroll 0 0 #222222;
  overflow: auto; }
  .highlight pre code {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #F0F0F0; }

.project-links {
  text-align: right; }

.project-download {
  color: #000300;
  background-color: #00910A;
  padding: 10px;
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 1px 1px 0 0 #014D06,     2px 2px 0 0 #014D06,     3px 3px 0 0 #014D06,     4px 4px 0 0 #014D06,     5px 5px 5px 0 #000000;
  -webkit-box-shadow: 1px 1px 0 0 #014D06,     2px 2px 0 0 #014D06,     3px 3px 0 0 #014D06,     4px 4px 0 0 #014D06,     5px 5px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 0 0 #014D06,     2px 2px 0 0 #014D06,     3px 3px 0 0 #014D06,     4px 4px 0 0 #014D06,     5px 5px 5px 0 #000000; }
  .project-download:hover {
    background-color: #00B00C; }
  .project-download:active {
    box-shadow: 1px 1px 5px 0 #000000;
    -webkit-box-shadow: 1px 1px 5px 0 #000000;
    -moz-box-shadow: 1px 1px 5px 0 #000000;
    top: 4px;
    left: 4px; }

.readme {
  margin-top: 20px; }
  .readme h1 {
    font-size: 2.2em; }
  .readme h2 {
    font-size: 1.9em; }
  .readme h3 {
    font-size: 1.6em; }
  .readme h4 {
    font-size: 1.3em; }

/*
.contact {
  table {
    tbody tr:nth-child(even) td, tbody tr.even td { background: transparent; }
    .label-cell {
      padding-left: 0;
      width: 45px;
    }
  }
  
  input[type="text"] { width: 220px; }
  input[type="text"], textarea {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
  }
}
*/
.post h1 {
  font-size: 36px; }
.post .content {
  margin-bottom: 10px; }
.post .next-prev-nav {
  text-align: center; }

#disqus_thread {
  margin-top: 20px; }

.song {
  background-color: #E8E8E8;
  padding: 5px 10px;
  margin: 20px 0 5px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 1px 1px 0 0 #B0B0B0,     2px 2px 0 0 #B0B0B0,     3px 3px 0 0 #B0B0B0,     4px 4px 0 0 #B0B0B0;
  -webkit-box-shadow: 1px 1px 0 0 #B0B0B0,     2px 2px 0 0 #B0B0B0,     3px 3px 0 0 #B0B0B0,     4px 4px 0 0 #B0B0B0;
  -moz-box-shadow: 1px 1px 0 0 #B0B0B0,     2px 2px 0 0 #B0B0B0,     3px 3px 0 0 #B0B0B0,     4px 4px 0 0 #B0B0B0; }

.push-1-5 {
  margin: 0 -60px 1.5em 60px; }

.h1-5 {
  font-size: 2.5em; }

.low-top {
  margin-top: 0.4em; }

.large-bottom {
  margin-bottom: 0.7em; }

.large-para {
  font-size: 1.5em; }

.med-para {
  font-size: 1.2em; }
