---
layout: default
no_sidebar: true
---

<h2 class="h1-5">Hello there!</h2>

<p class="large-para">I'm Michael, a web developer/designer, programmer, and technology enthusiast in general. I create websites, programs, and other things in the realms of technology. Want to learn more? Check out the <a href="/about">about page</a>.</p>


<div class="span-{% if page.no_sidebar %}8{% else %}5{% endif %}">
  Over at <a href="http://github.com/BlackBulletIV">GitHub</a> you can find some of the open source projects I'm working on. <a href="https://github.com/BlackBulletIV/strong">Strong</a> is a Lua library that's getting the most activity right now, and is also very well tested. <a href="/projects/flash/amfphp-toolbox">AMFPHP Toolbox</a> is one that got <a href="http://twitter.com/#!/amfphp/status/3754383707738112">some</a> <a href="http://twitter.com/#!/peterelst/status/3755239538692096">attention</a> a little while back. But anyway, check my GitHub page out, and see what you find.
</div>

<div class="span-{% if page.no_sidebar %}8{% else %}5{% endif %}">
  Over at <a href="http://twitter.com/BlackBulletIV">Twitter</a> you'll find regular status updates from me. This could be about anything from new releases of one of my projects, to a random thought I might have.

  <p>I also have a <a href="/blog">blog</a> here. From there I post updates on projects, tutorials on various topics, and here and there, my thoughts on various topics.</p>
</div>

<div class="span-{% if page.no_sidebar %}8{% else %}5{% endif %} last">
  Over at <a href="http://youtube.com/BlackBulletIV">YouTube</a> you'll find the videos I upload, mostly tutorials I've authored. Some notable tutorial series might be my <a href="http://www.youtube.com/BlackBulletIV#p/c/CAD2DAE46A04939D/0/CzK-Te-eRPY">Using AMFPHP</a> and <a href="http://www.youtube.com/BlackBulletIV#p/c/30526DF66C1E2C84/0/h7MUSkBA1xc">Using AMFPHP Toolbox</a>. My channel isn't updated all that often these days (due to being busy with other things), but currently I'm using to post videos of stuff I'm working on.
</div>
  
<div class="span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
  <h2 class="h1-5">Latest Posts</h2>

  {% assign posts = site.posts %}
  {% assign listing_limit = 5 %}
  {% include post-listing.html %}
</div>
