<div id="header" class="span-24">
  <div id="menu" class="span-24">
    <ul class="left">
      <li class="first"><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/games">Games</a></li>
      <li class="last"><a href="mailto:michael@nova-fusion.com">Contact</a></li>
    </ul>
    
    <ul class="right">
      <li class="first"><a href="http://twitter.com/BlackBulletIV">Twitter</a></li>
      <li><a href="https://github.com/BlackBulletIV">GitHub</a></li>
      <li class="last"><a href="http://www.youtube.com/BlackBulletIV">YouTube</a></li>
    </ul>
    
    <div class="clear"></div>
  </div>
</div>
