<div id="header" class="span-24">
  <!--<div class="left-side span-9">
    <div class="title"><a href="/">Michael Ebens</a></div>
    <div class="tagline">Web developer and programmer.</div>
  </div>-->

  <div id="menu" class="span-15 last">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/music">Music</a></li>
      <li class="last"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
