<div id="header" class="span-24">
  <div class="left-side span-9">
    <div class="title"><a href="{{ site.url }}">Michael Ebens</a></div>
    <div class="tagline">Web developer and programmer.</div>
  </div>
  
  <div id="menu" class="span-15 last">
    <ul>
      <li><a href="{{ site.url }}">Home</a></li>
      <li><a href="{{ site.url }}/about">About</a></li>
      <li><a href="{{ site.url }}/blog">Blog</a></li>
      <li><a href="{{ site.url }}/projects">Projects</a></li>
      <li><a href="{{ site.url }}/music">Music</a></li>
      <li class="last"><a href="{{ site.url }}/contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class="notice span-24">
  <strong>Please note: This website is undergoing some changes and is currently not looking/functioning as it should. It'll be fully operational soon.</strong>
</div>
