{% comment %} Work in progress: can't get it to look right at the moment {% endcomment %}

<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}: {{ site.url }}{{ page.url }}" data-via="BlackBulletIV" data-related="BlackBulletIV">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
<div class="g-plusone" data-size="medium"></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<a href="http://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&amp;t={{ page.title | cgi_escape }}" title="Share this on Y Combinator">
  <img src="/images/yc.png" alt="Y Combinator" />
</a>
