<!DOCTYPE html>
<html>
<head>
  {% if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
  
  <meta name="author" content="Michael Ebens" />
  <meta name="description" content="Michael Ebens' place on the web, with posts and tutorials on programming, web development, and other technological subjects. Located here is pages for his various projects." />
  <meta name="robots" content="noodp, nydir" />
  
  <link href="{{ site.url }}/css/blueprint/screen.css" type="text/css" rel="stylesheet" />
  <!--[if lt IE 8]> <link href="/css/blueprint/ie.css" type="text/css" rel="stylesheet" /> <![endif]-->  
  <link href="{{ site.url }}/css/railscasts.css" type="text/css" rel="stylesheet" />
  <link href="{{ site.url }}/css/site.css" type="text/css" rel="stylesheet" />
  
  <!--<script type="text/javascript" src="/{{ site.url }}js/jquery.js"></script>-->
  <script type="text/javascript" src="{{ site.url }}/js/site.js"></script>
</head>

<body>
  <div class="container">
    {% include header.html %}
    
    <div id="main" class="span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
      {{ content }}
    </div>
    
    {% unless page.no_sidebar %}
      {% include sidebar.html %}
    {% endunless %}
    
    {% include footer.html %}
  </div>
  
  {% include clicky.html %}
</body>
</html>
