<!DOCTYPE html>
<html>
<head>
  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
  
  <meta name="author" content="Michael Ebens" />
  <meta name="description" content="The digital home of Michael Ebens, a web developer/designer, game developer, and programmer." />
  <meta name="robots" content="noodp, nydir" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <link href="/css/blueprint/screen.css" type="text/css" rel="stylesheet" />
  <!--[if lt IE 8]> <link href="/css/blueprint/ie.css" type="text/css" rel="stylesheet" /> <![endif]-->  
  <link href="/css/highlight.css" type="text/css" rel="stylesheet" />
  <link href="/css/site.css" type="text/css" rel="stylesheet" />
  
  {% if page.swf_object %}<script type="text/javascript" src="/js/swfobject/swfobject.js"></script>{% endif %}
  <script type="text/javascript" src="/js/site.js"></script>
</head>

<body>
  <div class="container">
    {% include header.html %}
    
    <div id="main" class="span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
      {{ content }}
    </div>
    
    {% unless page.no_sidebar %}
      {% include sidebar.html %}
    {% endunless %}
    
    {% include footer.html %}
  </div>
  
  {% include clicky.html %}
</body>
</html>
