---
layout: default
---

<div class="post">
  <h1>{{ page.title }}</h1>
  <h4 class="large-bottom">
    Posted on {{ page.date | format_date }}
    {% if page.category %} in <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a> {% endif %}
  </h4>
  
  <div class="content">
    {{ content }}
  </div>
  
  <hr />
  
  {% if page.tags %}
    Tagged in
    {% for tag in page.tags %}
      <strong><a href="/tags/{{ tag | slugize }}">{{ tag }}</a></strong>
    {% endfor %}
    <br />
  {% endif %}
  
  <div class="next-prev-nav low-top">
    {% if page.previous.url %}
      &laquo;&nbsp;<a href="{{ page.previous.url }}/" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
    {% endif %}
  
    {% if page.previous.url %}
      {% if page.next.url %}
        |
      {% endif %}
    {% endif %}
    
  
    {% if page.next.url %}
      <a href="{{ page.next.url }}/" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
    {% endif %}
  
    <br />
  </div>
  
  {% unless page.no_comments %}
    {% include comments.html %}
  {% endunless %}
</div>
