---
layout: default
---

<div class="span-{% if page.no_sidebar %}19{% else %}12{% endif %}">
  <h1>{{ page.title }}</h1>
  <h3>{{ page.version }}</h3>
</div>

<div class="project-links span-5 last">
  <a href="{{ page.download }}" class="project-download-link">
    <div class="project-download">Download</div>
  </a>
  
  <h3><a href="{{ page.repo }}">GitHub Repository</a></h3>
  
  {% if page.docs %}
    <h3><a href="{{ page.docs }}">Documentation</a></h3>
  {% endif %}
</div>

<div class="readme span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
  {{ page.readme | markdownify }}
</div>
